@model BlogMVCApp.Models.Category

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center text-muted">Kategori Detay</h2>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KategoriAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KategoriAdi)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit","Category",new{id=Model.Id})" class="btn btn-sm btn-success"><i class="fa fa-edit"></i> Güncelle</a>
    <a href="@Url.Action("Index","Category")" class="btn btn-sm btn-secondary"><i class="fa fa-hand-o-left"></i> Listeye Geri Dön</a>
</p>
